.form-container {
  width: 100%;
  max-width: 500px;
  margin: 80px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.form-container h2 {
  color: black; /* Verde específico */
  text-align: center;
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin: 10px 0;
  color: #16a34a; /* Verde específico */
  font-size: 1.1rem;
}

.form-section {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0fff0; /* Menta */
  color: #333;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
  border-color: #16a34a; /* Verde específico */
}

.checkbox-container {
  display: flex;
  align-items: center;
  color: black; /* Verde específico */
  margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px;
}

.form-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.form-container button[type="submit"]:hover {
  background-color: #16a34a;
  color: white;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-container span {
  color: #db2a24; /* Rojo suave */
  font-size: 1rem;
  margin-top: 4px;
  display: block;
}

.input-error {
  border: 1px solid red;
  background-color: #ffe6e6;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.input-group input,
.input-group select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px; 
}
.input-group svg {
  flex-shrink: 0;
  font-size: 20px;
  color: #333;
}
